.userPlus-name {
    color: var(--blanc);
}

.userPlus-desc {
    color: var(--orange);
    font-size: 12px;
}

.userPlus-name:hover {
    color: var(--orange);
}

.searchIconDiv {
    background-color: var(--orange);
    margin: 7px;
    padding: 9px;
    border-radius: 5px;
    color: var(--blanc);
}

.authBody {
    background-color: var(--noir);
}

.text-orange {
    color: var(--orange);
}